/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
html .content .content-wrapper .content-header-title
{
    border-right: none;
}

.main-menu .navbar-header .navbar-brand{
	margin-top: 0;
}

.main-menu .navbar-header .navbar-brand .brand-logo img{
	max-width: 95%;
}
.disabled {
    background-color: #e9ecef !important;
}
.size-16 {
    font-size: 1rem;
}
.size-24 {
    font-size: 1.5rem;
}
.size-32 {
    font-size: 2rem;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}

.hidden, .display-none {
    display: none !important;
}

.text-gray {
  color: #ced4da !important;
}

.dataTables_wrapper label {
    margin-left: 1.5rem;
}
.paging_simple_numbers {
    padding: 2rem !important;
}
div.dataTables_wrapper .dataTables_info {
    padding-top: 2rem !important;
    padding-bottom: 0 !important;
    padding-left: 2rem !important;
}
.size-16 {
  font-size: 1rem;
}

.size-24 {
  font-size: 1.5rem;
}

.size-32 {
  font-size: 2rem;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.hidden, .display-none {
  display: none !important;
}

.text-gray {
  color: #ced4da !important;
}

.dataTables_wrapper label {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.paging_simple_numbers {
  padding: 2rem !important;
}

div.dataTables_wrapper .dataTables_info {
  padding-top: 2.6rem !important;
  padding-bottom: 0 !important;
  padding-left: 2rem !important;
}
.dataTables_length .form-select {
    display: inline;
}
div.dataTables_filter, ul.pagination {
    float: right;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

@media (min-width: 1200px) {
    .modal-lg {
        max-width: 1140px;
    }
}

#toast-container>div {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
}
